<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cursorwheellayout.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cursorwheellayout.ComposeInteroperabilityActivity"
            android:exported="true"
            android:label="Compose Interoperability Demo" />
        <activity
            android:name="com.cursorwheellayout.ComposeWheelActivity"
            android:exported="true"
            android:label="Compose Wheel Demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cursorwheellayout.AdvancedComposeWheelActivity"
            android:exported="true"
            android:label="Advanced Wheel APIs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cursorwheellayout.ComposeMainActivity"
            android:exported="true"
            android:label="Compose Main Demo"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>